<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <h1>Create account</h1>
    <form action="" method="post">
        <input name="name" placeholder="Name">
        <input name="pswd" placeholder="Password">
        <button>Create</button>
    </form>
</body>
</html>
